node_modules
**/node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log
dist
**/dist
packages/database/generated
.git
.gitignore
.env
.env.*
!.env.example
.turbo
.vite
playwright-report
test-results
coverage
*.log
*.tsbuildinfo
