using './main.bicep'

param environmentName = 'assessflow-dev'
param location = 'westeurope'
param webApiImage = 'replace-with-approved-registry/assessflow-web-api:0.1.0'
param workerImage = 'replace-with-approved-registry/assessflow-worker:0.1.0'
param postgresAdminLogin = 'assessflowadmin'
param postgresAdminPassword = 'replace-with-key-vault-or-ci-secret'
param production = false
